body {
  background-color: #3A3A3A;
}
.container {
  margin: 0 auto;
  width: 100%;
  font-family: sans-serif;
}

#mainHeading{
  text-align: center;
  color: white;
}

/*Weight Classes*/
#inputSection {
  text-align: center;
}

#selectWeight, #selectHeight {
  height:2.7em;
  width: 71%;
  font-size: 1.2em;
}

#weightInput, #heightInput {
  width: 70%;
  height: 2.25em;
  font-size: 1.2em;
}

#weightClasses, #heightClasses{
  width:70%;
  margin: 0 auto;
}

#weight1  {
  background-color: #D12323;
  height: 4em;
  text-align:left;
  color:white;
}
#weight2 {
  background-color: #2975C2;
  height: 4em;
  text-align:left;
  color:white;
}
#weight3 {
  background-color: #208F25;
  height: 4em;
  text-align:left;
  color:white;
}

.w1, .w2, .w3 {
line-height: 3.5em;
padding-left: 1.5em;
}

/*Height classes*/

#inputSection2 {
  margin-top: 2em;
  text-align: center;
}

#height1  {
  background-color: #E4E918;
  height: 4em;
  text-align:left;
  color:white;
}
#height2 {
  background-color: #8001C4;
  height: 4em;
  text-align:left;
  color:white;
}
#height3 {
  background-color: #E75106;
  height: 4em;
  text-align:left;
  color:white;
}

.h1, .h2, .h3 {
line-height: 3.5em;
padding-left: 1.5em;
}
